*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
background: linear-gradient(135deg, rgba(154,244,245,1) 0%, rgba(240,193,154,1) 100%);
margin-bottom: auto;
}
.container{
    margin: 50px auto;
    background-color: white;
    width: 490px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 20px 35px rgba(0,0,1,0.9);
}
.font-title{
    text-align: center;
    margin-bottom: 14px;
    font-size: 1.5rem;
}
form{
    margin: 0 2rem;
}
input{
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 1,5rem;
    font-size: 15px;
}
.input-group{
    padding: 1% 0;
    position: relative;
}
.input-group i{
    position: absolute;
    color: black;

}
input::placeholder{
    padding-left: 24px;
    color: transparent;
}
input:focus{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid hsl(327,90%,28%);
}
label{
    color: #757575;
    position: relative;
    bottom: 20px;
    left: 24px;
    cursor: auto;
    transition: 0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown){
    top:-3em;
    /* color: hsl(327,90%,28%); */
    font-size:15px;
}
.recover{
    text-align:right;
    font-size: 1rem;
    margin-bottom: 1rem;

}
.recover a{
    text-decoration: none;
    color: rgb(125,125,235);
}
.recover a:hover{
    color: blue;
    text-decoration: underline;
}
.btn{
    font-size: 1.1rem;
    padding:8px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background-color: rgb(125,125,235);
    color: white;
    cursor: pointer;
    transition: 0.9s;
}
.btn:hover{
    background: #07001f;
}
.or{
    font-size: 1.1rem;
    margin-top: 0.5rem;
    text-align: center;
}
.icons{
    text-align: center;
}
.icons i{
    color:rgb(125,125,235) ;
    padding:13px 10px ;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.8s;
    margin: 5px 5px 0;
    border: 0.7px solid #dfe9f5;
}
.icons i:hover{
    background: #07001f;
}
.links{
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    margin-top: 0.9rem;
    font-weight: bold;
}
button{
    color: rgb(125,125,235);
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    text-decoration: underline;
    color: blue;
}